<p>example works!</p>
<div *ngIf="pageType == 'one'" >
    <p>yyyyyyy</p>
    <app-home></app-home>
</div>
<div *ngIf="pageType == 'two'" >
    <p>zzzzzzzzz</p>
    <app-about></app-about>
</div>



<!-- <table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>product_name</th>
            <th>product_barcode</th>
            <th>product_qty</th>
            <th>product_price</th>
            <th>product_date</th>
            <th>product_category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let p of dataProduct'>
            <td>{{ p.id }}</td>
            <td>{{ p.product_name }}</td>
            <td>{{ p.product_barcode }}</td>
            <td>{{ p.product_qty }}</td>
            <td>{{ p.product_price }}</td>
            <td>{{ p.product_date }}</td>
            <td>{{ p.product_category }}</td>
        </tr>
    </tbody>
</table> -->
