<div id="top-bar">

    <div class="full-header clearfix">

        <div class="col_half nobottommargin">

            <!-- Top Links============================================= -->
            <div class="top-links">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a class="nav-link" routerLink="about">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <a href="#">Login</a>
                        <div class="top-link-section">
                            <form id="top-login">
                                <div class="input-group" id="top-login-username">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="icon-user"></i></div>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email address" required="">
                                </div>
                                <div class="input-group" id="top-login-password">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="icon-key"></i></div>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" required="">
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                                <button class="btn btn-danger btn-block" type="submit">Sign in</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">

            <!-- Top Social============================================= -->
            <div id="top-social">
                <ul>
                    <li><a href="#" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="tel:021413788" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">0-2214-0120</span></a></li>
                    <li><a href="mailto:oja.jrd.lamp@gmail.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">webmaster@dpe.go.th</span></a></li>

                    <li><a href="" class=""><span class="ts-icon">A-</span></a></li>
                    <li><a href="" class=""><span class="ts-icon">A</span></a></li>
                    <li><a href="" class=""><span class="ts-icon">A+</span></a></li>

                    <li><a href="" class=""><span class="ts-icon"> <button type="button" class="btn btn-dark">C</button> </span></a></li>
                    <li><a href="" class=""><span class="ts-icon"> <button type="button" class="btn btn-light">C</button> </span></a></li>
                    <li><a href="" class=""><span class="ts-icon"> <button type="button" class="btn btn-dark" style="color: yellow;">C</button> </span></a></li>


                    

                </ul>
                
            </div><!-- #top-social end -->

        </div>

    </div>

</div><!-- #top-bar end -->
<!-- Header============================================= -->
<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo============================================= -->
            <div id="logo">
            </div><!-- #logo end -->
            <!-- Primary Navigation============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li>
                        <a href="">
                            <div>
                                <i class="icon-home2"></i>
                                หน้าหลัก
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="#">
                            <div>
                                <i class="icon-lightbulb2"></i>
                                เกี่ยวกับองค์กร
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="icon-gavel"></i>
                                กฏหมาย/ระเบียบ
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="icon-news"></i>
                                ข่าวองค์กร
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="icon-file-contract"></i>
                                เอกสารเผยแพร่
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="icon-vcard"></i>
                                งานบริการ
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="icon-line2-question"></i>
                                คำถามที่พบบ่อย
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="icon-landmark"></i>
                                ติดต่อองค์กร
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- Top Search============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div><!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->