<!-- <li><a class="nav-link" [routerLink]="['/example/',1,3]">About</a></li>
<li><a [routerLink]="['/example/',2,3]">Contact</a></li> -->

<!-- Top Bar
============================================= -->
<div id="top-bar" class="bg-dpeBlue">

    <div class="full-header clearfix">

        <div class="col_half fright col_last nobottommargin">

            <!-- Top Social
            ============================================= -->
            <div id="top-social">
                <ul>
                    <li><a href="#" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="#" class="si-instagram"><span class="ts-icon"><img src="../../../assets/MiddleFile/logo/line.png" style="max-width:70%" alt="img"></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="#" class="si-evernote"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</span></a></li>
                    <li><a href="tel:021413788" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">0-2214-0120</span></a></li>
                    <li><a href="mailto:oja.jrd.lamp@gmail.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">webmaster@dpe.go.th</span></a></li>

                    <li><a href="" class=""><span class="ts-icon">A-</span></a></li>
                    <li><a href="" class=""><span class="ts-icon">A</span></a></li>
                    <li><a href="" class=""><span class="ts-icon">A+</span></a></li>

                    <li><a href="" class=""><span class="ts-icon"> <button type="button" class="btn btn-dark">C</button> </span></a></li>
                    <li><a href="" class=""><span class="ts-icon"> <button type="button" class="btn btn-light">C</button> </span></a></li>
                    <li><a href="" class=""><span class="ts-icon"> <button type="button" class="btn btn-dark" style="color: yellow;">C</button> </span></a></li>


                    <li><a href="" class=""><span class="ts-icon"><img src="../../../assets/MiddleFile/Background/fag-en.png" alt="img"></span></a></li>
                    <li><a href="" class=""><span class="ts-icon"><img src="../../../assets/MiddleFile/Background/fag-th.png" alt="img"></span></a></li>
                </ul>

            </div><!-- #top-social end -->

        </div>

    </div>

</div><!-- #top-bar end -->


<!-- Header
============================================= -->
<header id="header" class="lightgrey">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo">
                <a href="Index/Home" class="standard-logo" title="หน้าหลัก | กรมพลศึกษา"><img src="../../../assets/MiddleFile/logo/logo.png" alt="No Image"></a>
                <a href="Index/Home" class="retina-logo" title="หน้าหลัก | กรมพลศึกษา"><img src="../../../assets/MiddleFile/logo/logo.png" alt="No Image"></a>
            </div>
            <nav id="primary-menu">
                <ul>
                    <li class="menu-color-dpegreen">
                        <a href="Index/Home">
                            <div><i class="icon-home2"></i>หน้าหลัก</div>
                        </a>
                        <ul>
                            <li class="menu-color-dpegreen"><a href="Index/Home">Theme 1</a></li>
                            <li class="menu-color-dpegreen"><a href="Index/Home">Theme 2</a></li>
                            <li class="menu-color-dpegreen"><a href="Index/Home">Theme 3</a></li>
                            <li class="menu-color-dpegreen"><a href="Index/Home">Theme 4</a></li>
                            <li class="menu-color-dpegreen"><a href="Index/Home">Theme 5</a></li>
                            <li class="menu-color-dpegreen"><a href="Index/Home">Theme 6</a></li>
                            <li class="menu-color-dpegreen"><a href="Index/Home">Theme 7</a></li>
                        </ul>
                    </li>
                    <li class="menu-item mega-menu menu-color-dpegreen">
                        <a class="menu-link" href="#">
                            <div><i class="icon-briefcase"></i>เกี่ยวกับองค์กร</div>
                        </a>
                        <div class="mega-menu-content mega-menu-style-2">
                            <div class="container">
                                <div class="row">
                                    <ul class="sub-menu-container mega-menu-column col-lg-3">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ประวัติองค์กร</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ประวัติความเป็นมา</div></a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>โครงสร้างองค์กร</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กรมพลศึกษา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กลุ่มพัฒนาระบบบริหาร</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กลุ่มตรวจสอบภายใน</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กลุ่มงานคุ้มครองจริยธรรม</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักงานเลขานุการกรม</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักการกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักนันทนาการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักวิทยาศาสตร์การกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สถาบันพัฒนาบุคลากรการพลศึกษาและการกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กองมาตรฐานอาคารสถานการกีฬา</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="sub-menu-container mega-menu-column col-lg-3">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>วิสัยทัศน์ พันธกิจ</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>วิสัยทัศน์ พันธกิจ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ประเด็นยุทธศาสตร์</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>อำนาจหน้าที่</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ภารกิจและหน้าที่</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กรมพลศึกษา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กลุ่มพัฒนาระบบบริหาร</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กลุ่มตรวจสอบภายใน</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กลุ่มงานคุ้มครองจริยธรรม</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักงานเลขานุการกรม</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักการกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักนันทนาการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สำนักวิทยาศาสตร์การกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สถาบันพัฒนาบุคลากรการพลศึกษาและการกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กองมาตรฐานอาคารสถานการกีฬา</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="sub-menu-container mega-menu-column col-lg-3">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ผู้บริหารและบุคลากร</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ผู้บริหาร และบุคลากร</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>นโยบายจากผู้บริหาร</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>วาระงานผู้บริหาร</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>แผนยุทธศาสตร์</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>แผนยุทธศาสตร์</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>แผนปฏิบัติราชการ</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>แผนปฏิบัติราชการประจำปี</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>คำรับรองปฏิบัติราชการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>PMQA 4.0</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ITA</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>การมีส่วนร่วมของประชาชน</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>แผนยกระดับงานบริการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>แผนภาวะวิกฤต กรมพลศึกษา</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>แผนงาน/โครงการ/งบประมาณ</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>แผนงาน/โครงการ/งบประมาณ</div></a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                    <ul class="sub-menu-container mega-menu-column col-lg-3">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ผลการปฏิบัติราชการ</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานผลการดำเนินงานประจำปี</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานประจำปี (Annual Report)</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานผลการใช้จ่ายงบประมาณ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานผลการคำนวณต้นทุนต่อหน่วยการผลิต</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานผลการตรวจสอบการใช้จ่ายงบประมาณ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานของผู้ควบคุม/ผู้ตรวจสอบภายใน</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานการวิเคราะห์/ประเมินผลการใช้จ่ายงบประมาณ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ผลการปฏิบัติราชการตามคำรับรองประจำปี</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>รายงานผลการปฏิบัติงานประจำปี ตามมติคณะรัฐมนตรีหรือกฎหมาย</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ผลงานเจ้าหน้าที่พลศึกษา (จพล.) และอาสาสมัครกีฬา (อสก.)</div></a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-color-dpegreen">
                        <a href="#">
                            <div><i class="icon-file-alt"></i>กฏหมาย/ระเบียบ</div>
                        </a>
                        <ul class="sub-menu-container">
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>กฎหมายที่เกี่ยวข้อง</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>ระเบียบต่างๆ</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>พระราชบัญญัติ</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>ประกาศ</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>หนังสือเวียน/คำสั่ง</div></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item mega-menu menu-color-dpegreen">
                        <a class="menu-link" href="#">
                            <div><i class="icon-briefcase"></i>ข่าวองค์กร</div>
                        </a>
                        <div class="mega-menu-content mega-menu-style-2">
                            <div class="container">
                                <div class="row">
                                    <ul class="sub-menu-container mega-menu-column col-lg-4">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ข่าวสารองค์กร</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวสารองค์กร</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวด้านกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวด้านนันทนาการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวด้านวิทยาศาสตร์การกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวด้านพัฒนาบุคลากร</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวสวัสดิการต่าง ๆ ของกรมพลศึกษา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สรุปข่าวประจำวัน</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ภาพกิจกรรมต่างๆ</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ภาพกิจกรรมต่างๆ</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="sub-menu-container mega-menu-column col-lg-4">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ข่าวการจัดซื้อ/จัดจ้าง</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>แผนการจัดซื้อจัดจ้าง</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ประกาศราคากลาง</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ประกาศร่าง TOR</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>งานจัดซื้อจัดจ้าง</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สรุปผลการจัดซื้อจัดจ้าง</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>เผยแพร่สัญญาจัดซื้อจัดจ้าง</div></a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ปฏิทินกิจกรรม</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ปฏิทินกิจกรรม</div></a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                    <ul class="sub-menu-container mega-menu-column col-lg-4">

                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ข่าวรับสมัครงาน/โอนย้าย/การฝึกอบรม</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ประกาศผล</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวโอนย้ายงาน</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ระบบรับสมัครสอบราชการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ข่าวสมัครงาน</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>กิจกรรม จพล.และอสก.</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>กิจกรรม จพล.และอสก.</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item mega-menu menu-color-dpegreen">
                        <a class="menu-link" href="#">
                            <div><i class="icon-briefcase"></i>เอกสารเผยแพร่ </div>
                        </a>
                        <div class="mega-menu-content mega-menu-style-2">
                            <div class="container">
                                <div class="row">
                                    <ul class="sub-menu-container mega-menu-column col-lg-4">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>เอกสารดาวน์โหลด</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>เอกสารสำหรับดาวน์โหลด</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>แบบฟอร์มต่างๆ สำหรับดาวน์โหลด เฉพาะเจ้าหน้าที่กรมพลศึกษา</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>สื่อประชาสัมพันธ์ </div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>Vdo ด้านการกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>คลิปประชาสัมพันธ์</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>สื่อความรู้</div></a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                    <ul class="sub-menu-container mega-menu-column col-lg-4">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>วารสารอิเล็กทรอนิกส์</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>วารสารอิเล็กทรอนิกส์ </div></a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>องค์ความรู้</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ด้านพัฒนาระบบบริหาร</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ด้านการกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ด้านงานบริการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ด้านวิทยาศาสตร์การกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ด้านนันทนาการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ด้านการพัฒนาบุคลากร</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="sub-menu-container mega-menu-column col-lg-4">
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>งานวิจัย</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>งานวิจัยด้านการกีฬา</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>งานวิจัยด้านนันทนาการ</div></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>งานวิจัยด้านวิทยาศาสตร์การกีฬา</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item mega-menu-title">
                                            <a class="menu-link" href="#"><div>ตราสัญลักษณ์ (Logo) กรมพลศึกษา</div></a>
                                            <ul class="sub-menu-container">
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#"><div>ตราสัญลักษณ์ (Logo) กรมพลศึกษา</div></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-color-dpegreen">
                        <a href="#">
                            <div><i class="icon-bag"></i>CIO</div>
                        </a>
                        <ul class="sub-menu-container">
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>CIO</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>เกี่ยวกับ CIO</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>วิสัยทัศน์</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>นโยบาย</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>ข่าวสารจาก CIO</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>การบริหารงานด้าน ICT </div></a>
                                <ul class="sub-menu-container">
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>ยุทธศาสตร์</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>แผนงานด้าน ICT</div></a>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>โครงการด้าน ICT</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>ปฏิทินกิจกรรม CIO</div></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-color-dpegreen">
                        <a href="#">
                            <div><i class="icon-lightbulb"></i>คำถามที่พบบ่อย</div>

                        </a>
                    </li>
                    <li class="menu-item menu-color-dpegreen">
                        <a href="#">
                            <div><i class="icon-wpforms"></i>ติดต่อเรา</div>

                        </a>
                        <ul class="sub-menu-container">
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>ติดต่อสอบถาม</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>ศูนย์รับเรื่องร้องเรียน</div></a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu-item menu-color-dpegreen">
                        <a href="#">
                            <div><i class="icon-world"></i>ระบบสารสนเทศ</div>

                        </a>
                        <ul class="sub-menu-container">
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>E-Service</div></a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>Intranet</div></a>
                            </li>

                        </ul>
                    </li>
                </ul>

                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="#" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>

            </nav>

        </div>

    </div>

</header>
<!-- #header end -->