<div class="section nomargin" style="background: url('../../../assets/MiddleFile/Background/555.jpg')center bottom; background-size: cover;background-attachment: fixed;">
    <div class="container clearfix p-0">
        <div class="row clearfix">
            <div class="col-lg-8">
                <div id="section-features" class="section nobg nomargin m-0 clearfix pt-0 pb-3">
                    <div class="container-fluid">
                        <div class="row tab-hover">
                            <div class="col-md-4">
                                <div class="nav sticky-nav flex-md-column justify-content-around justify-content-lg-start">
                                    <a class="nav-link active" href="#plan-tab1"><i class="icon-stack i-alt"></i>&nbsp;แผนการจัดซื้อจัดจ้าง</a>
                                    <a class="nav-link" href="#plan-tab2"><i class="icon-book3"></i>&nbsp;ประกาศราคากลาง</a>
                                    <a class="nav-link" href="#plan-tab3"><i class="icon-archive1"></i>&nbsp;ร่าง TOR</a>
                                    <a class="nav-link" href="#plan-tab4"><i class="icon-users1"></i>&nbsp;ประกาศเชิญชวน</a>
                                    <a class="nav-link" href="#plan-tab5"><i class="icon-vcard"></i>&nbsp;ประกาศรายชื่อผู้ชนะ</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="intro-showcase-section" id="plan-tab1">
                                    <div class="flex-wrap">

                                        <h4 class="mb-2 ls1 uppercase t700"><i class="icon-stack i-alt"></i>&nbsp;แผนการจัดซื้อจัดจ้าง  <span> <a href="#" class="btn btn-info bg-dpegreen btn-sm float-right"><i class="icon-plus-circle i-alt"></i>&nbsp;เพิ่มเติม</a></span> </h4>
                                        <div class="line line-xs line-dark mb-0"></div>
                                        <!-- Post Article -->
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c ">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่องยกเลิกแผนการจัดซื้อจัดจ้าง</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เผยแพร่แผนการจัดซ์้อจัดจ้าง....</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix  pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เปลี่ยนแปลงแผนการจัดซื้อจัดจ้าง...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เผยแพร่แผนการจัดซ์้อจัดจ้าง....</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เปลี่ยนแปลงแผนการจัดซื้อจัดจ้าง...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>

                                    </div>
                                </div>
                                <div class="intro-showcase-section" id="plan-tab2">
                                    <div class="flex-wrap">
                                        <h4 class="mb-2 ls1 uppercase t700"><i class="icon-book3"></i>&nbsp;ประกาศราคากลาง <span> <a href="#" class="btn btn-info bg-dpegreen btn-sm float-right"><i class="icon-plus-circle"></i>&nbsp;เพิ่มเติม</a></span> </h4>
                                        <div class="line line-xs line-dark mb-0"></div>
                                        <!-- Post Article -->
                                        <article class="spost clearfix  pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศ กรมพลศึกษา เรื่อง ยกเลิกประกาศผู้ได้รับคัดเลือก</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix  pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง ประกาศผู้ชนะการเสนอ...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix  pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เปลี่ยนแปลงแผนการจัดซื้อจัดจ้าง</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix  pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศ กรมพลศึกษา เรื่อง ยกเลิกประกาศผู้ได้รับคัดเลือก</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix  pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง ประกาศผู้ชนะการเสนอ...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="intro-showcase-section" id="plan-tab3">
                                    <div class="flex-wrap">
                                        <h4 class="mb-2 ls1 uppercase t700"><i class="icon-archive1"></i>&nbsp;ร่าง TOR <span> <a href="#" class="btn btn-info bg-dpegreen btn-sm float-right"><i class="icon-plus-circle"></i>&nbsp;เพิ่มเติม</a></span> </h4>
                                        <div class="line line-xs line-dark mb-0"></div>
                                        <!-- Post Article -->
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ราคากลาง โครงการขับเคลื่อนแผนปฏิบัติการด้านนันทนาการ... </a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เผยแพร่ราคากลาง (ราคาอ้างอิง)</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เปลี่ยนแปลงแผนการจัดซื้อจัดจ้าง</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ราคากลาง โครงการขับเคลื่อนแผนปฏิบัติการด้านนันทนาการ... </a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เผยแพร่ราคากลาง (ราคาอ้างอิง)</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="intro-showcase-section" id="plan-tab4">
                                    <div class="flex-wrap">
                                        <h4 class="mb-2 ls1 uppercase t700"><i class="icon-users1"></i>&nbsp;ประกาศเชิญชวน<span> <a href="#" class="btn btn-info bg-dpegreen btn-sm float-right"><i class="icon-plus-circle"></i>&nbsp;เพิ่มเติม</a></span> </h4>
                                        <div class="line line-xs line-dark mb-0"></div>
                                        <!-- Post Article -->
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่องยกเลิกแผนการจัดซื้อจัดจ้าง...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศเผยแพร่ร่างประกาศ ร่างเอกสารประกวดราคา...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เปลี่ยนแปลงแผนการจัดซื้อจัดจ้าง...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่องยกเลิกแผนการจัดซื้อจัดจ้าง...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศเผยแพร่ร่างประกาศ ร่างเอกสารประกวดราคา...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="intro-showcase-section" id="plan-tab5">
                                    <div class="flex-wrap">
                                        <h4 class="mb-2 ls1 uppercase t700"><i class="icon-vcard"></i>&nbsp;ประกาศรายชื่อผู้ชนะ<span> <a href="#" class="btn btn-info bg-dpegreen btn-sm float-right"><i class="icon-plus-circle"></i>&nbsp;เพิ่มเติม</a></span> </h4>
                                        <div class="line line-xs line-dark mb-0"></div>
                                        <!-- Post Article -->
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เผยแพร่ร่างประกาศ...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาสเผยแพร่ บันทึกขอตกลงต่อท้ายสัญญาจ้างเลขที่ ก.3/2559...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เปลี่ยนแปลงแผนการจัดซื้อจัดจ้าง...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง เผยแพร่ร่างประกาศ...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">50</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="spost clearfix pt-1 mt-3">
                                            <div class="entry-image">
                                                <a href="#">
                                                    <img src="../../../assets/MiddleFile/link/icon1.png"
 alt="">
                                                </a>
                                            </div>
                                            <div class="entry-c">
                                                <div class="entry-title">
                                                    <h4 class="t600"><a href="#">ประกาสเผยแพร่ บันทึกขอตกลงต่อท้ายสัญญาจ้างเลขที่ ก.3/2559...</a></h4>
                                                </div>
                                                <ul class="entry-meta clearfix">
                                                    <li><i class="icon-eye"></i> <a href="#">80</a></li>
                                                    <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 sticky-sidebar-wrap">
                <div class="sticky-sidebar">
                    <div class="widget widget_links clearfix">
                        <div class="card">
                            <div class="card-body mb-2">
                                <h3 class="center mb-1">Connect with Us</h3>
                                <div class="line line-xs line-dark "></div>
                                <div class="fb-page" data-href="https://www.facebook.com/dpe.mots/?__xts__[0]=68.ARAkvBZ6AkhfVdTv3rZafu3TEdDgWHzxyaN204OLl_7yDSLq156rj46IirCDOT2dN697qGEY6tpNxOkIGsovgVH_HQd9vX-p1vOBrrrWe8pDFF-spSSpSZ828cfCKbevC8qxWP8LSKNmpLQvSbKUui-Ew5yyEClLoXFN-EN2rQruT7X1gY8T_lLG63ZFmTZOoD336VvWsspaTtnCadmfIXPpj1866K7uyVbY4ftshXsfgOXlxGmvPIV-Ns_IqNGEPda5GRtZQJ4w7D0lQNmzGWXX3jmL3hNbgWd1nO8FM2potLV4mYUDEs3DX_leR-RoaEu84rf9ZAbmB7k9vsH5yaAYWQ" data-tabs="timeline" data-max-width="500" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ThaiHealth-Academy-1023728251153604/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ThaiHealth-Academy-1023728251153604/">ThaiHealth Academy</a></blockquote></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
<div class="section parallax dark m-0" style="background-image: url('../../../assets/MiddleFile/Background/3987777.jpg'); background-size: center; padding: 100px 0;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -500px;">

    <div class="container clearfix">
        <div class="section nobg nomargin pb-0 pt-0">
            <div class="container clearfix">
                <div class="row clearfix pt-0">
                    <div class="col-lg-12">
                        <h3 class="mb-2 ls1 uppercase t700 float-left"> <span class="dark-video"> <i class="icon-video1"></i>&nbsp;วีดีโอประชาสัมพันธ์</span></h3>
                        <div class="line line-xs line-light"></div>
                        <div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false">
                            <div class="oc-item border-details">
                                <div class="ipost clearfix">
                                    <div class="entry-image">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/QES2qTX4Lmo" allowfullscreen style="border: 0;"></iframe>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="" title="ประชุมคณะทำงานปรับโครงสร้างการแบ่งส่วนราชการและกำหนดกรอบอัตรากำลังของกรมพลศึกษา ครั้งที่ 1/2563">ประชุมคณะทำงานปรับโครงสร้างการแบ่งส่วนราชการและกำหนดกรอบอัตรากำลังของกรมพลศึกษา ครั้งที่ 1/2563</a></h3>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li><i class="icon-calendar3"></i> 25 Feb 2020</li>
                                        <li><i class="icon-eye"></i> 60</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="oc-item border-details">
                                <div class="ipost clearfix">
                                    <div class="entry-image">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/M8uQfKamA8Q" allowfullscreen style="border: 0;"></iframe>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="" title="พิธีลงนามถวายพระพรและเปิดกรวยกระทงดอกไม้ เบื้องหน้าพระบรมฉายาลักษณ์ พระบาทสมเด็จพระวชิรเกล้าเจ้าอยู่หัว รัชกาลที่ 10 เนื่องในวันฉัตรมงคล">พิธีลงนามถวายพระพรและเปิดกรวยกระทงดอกไม้ เบื้องหน้าพระบรมฉายาลักษณ์ พระบาทสมเด็จพระวชิรเกล้าเจ้าอยู่หัว รัชกาลที่ 10 เนื่องในวันฉัตรมงคล</a></h3>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li><i class="icon-calendar3"></i> 25 Feb 2020</li>
                                        <li><i class="icon-eye"></i> 34</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="oc-item border-details">
                                <div class="ipost clearfix">
                                    <div class="entry-image">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/E78nGYaUwEs" allowfullscreen style="border: 0;"></iframe>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="" title="คณะผู้บริหาร ข้าราชการ และ เจ้าหน้าที่กรมพลศึกษา จำนวน 290 คน เข้ารับการตรวจหาเชื้อไวรัสโคโรนา 2019 (COVID-19) และฉีดวัคซีนป้องกันไข้หวัดใหญ่ 4 สายพันธุ์ โดย โรงพยาบาลเกษมราษฎร์ รัตนาธิเบศร์">คณะผู้บริหาร ข้าราชการ และ เจ้าหน้าที่กรมพลศึกษา จำนวน 290 คน เข้ารับการตรวจหาเชื้อไวรัสโคโรนา 2019 (COVID-19) และฉีดวัคซีนป้องกันไข้หวัดใหญ่ 4 สายพันธุ์ โดย โรงพยาบาลเกษมราษฎร์ รัตนาธิเบศร์</a></h3>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li><i class="icon-calendar3"></i> 25 Feb 2020</li>
                                        <li><i class="icon-eye"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="oc-item border-details">
                                <div class="ipost clearfix">
                                    <div class="entry-image">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/QES2qTX4Lmo" allowfullscreen style="border: 0;"></iframe>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="" title="สำรวจพื้นที่และตรวจสอบความเรียบร้อยบริเวณจุดคัดกรองรอบสนามกีฬาแห่งชาติ ก่อนเปิดให้ประชาชนเข้าใช้ออกกำลังกาย">สำรวจพื้นที่และตรวจสอบความเรียบร้อยบริเวณจุดคัดกรองรอบสนามกีฬาแห่งชาติ ก่อนเปิดให้ประชาชนเข้าใช้ออกกำลังกาย</a></h3>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li><i class="icon-calendar3"></i> 25 Feb 2020</li>
                                        <li><i class="icon-eye"></i> 55</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="oc-item border-details">
                                <div class="ipost clearfix">
                                    <div class="entry-image">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OEnRXJDYVEc" allowfullscreen style="border: 0;"></iframe>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="" title="มาตรการผ่อนปรน">มาตรการผ่อนปรน</a></h3>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li><i class="icon-calendar3"></i> 25 Feb 2020</li>
                                        <li><i class="icon-eye"></i> 27</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
