<div class="section parallax dark m-0" style="background-image: url('../../../assets/MiddleFile/Background/3518868.jpg'); background-size: center; padding: 100px 0;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -500px;">
    <div class="container clearfix p-0">
        <div class="row clearfix">
            <div class="col-lg-8">
                <!-- Tab Content ============================================= -->
                <div class="clearfix">
                    <!-- Tab Menu ============================================= -->
                    <h3 class="mb-2 ls1 uppercase t700 float-left"> <span class="dark-video"><i class="icon-paper-plane"></i>&nbsp; ผลงานกรมพลศึกษา</span></h3>
                    <div class="line line-xs line-dark"></div>
                    <nav class="navbar navbar-expand-lg navbar-light pt-0 pb-2">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler3" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-line-menu"></i>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarToggler3">
                            <div></div>
                            <ul class="nav nav-sm navbar-nav mr-md-auto mr-lg-0 mt-2 mt-lg-0 align-self-end" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link bg-color-dpegreen active center" id="nav-News4-tab" data-toggle="tab" href="#nav-News-internal" role="tab" aria-selected="false">ข่าวองค์กร</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-color-dpegreen center" id="nav-News1-tab" data-toggle="tab" href="#nav-News1" role="tab" aria-selected="true">ข่าวด้านกีฬา</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-color-dpegreen center" id="nav-News2-tab" data-toggle="tab" href="#nav-News2" role="tab" aria-selected="false">ข่าวด้านนันทนาการ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-color-dpegreen center" id="nav-News3-tab" data-toggle="tab" href="#nav-News3" role="tab" aria-selected="false">ข่าวด้านวิทยาศาสตร์การกีฬา</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-color-dpegreen center" id="nav-News4-tab" data-toggle="tab" href="#nav-News4" role="tab" aria-selected="false">ข่าวด้านพัฒนาบุคลากร</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-color-dpegreen center" id="nav-News5-tab" data-toggle="tab" href="#nav-News5" role="tab" aria-selected="false">ข่าวรับสมัคร-โอนย้ายงาน</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Tab Content ============================================= -->
                    <div class="tab-content" id="nav-tabContent3">
                        <div class="tab-pane fade show active" id="nav-News-internal" role="tabpanel" aria-labelledby="nav-News-internal-tab">
                            <div class="row clearfix">
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="ipost clearfix">
                                        <div class="entry-image mb-3">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/1.jpg" alt="Image 3"></a>
                                            <div class="entry-categories"><a href="#" class="bg-dpegreen">ข่าวองค์กร</a></div>
                                        </div>
                                        <div class="entry-title">
                                            <h3><a href="#">ส.ค.ส พระราชทาน</a></h3>
                                        </div>
                                        <ul class="entry-meta clearfix">
                                            <li><span>by</span> <a href="#">webmaster</a></li>
                                            <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                        </ul>
                                        <div class="entry-content clearfix">
                                            <p>
                                                พระเจ้าวรวงศ์เธอ พระองค์เจ้าสิริภาจุฑาภรณ์ ประทานบัตรอวยพร ส.ค.ส.ปีใหม่ พุทธศักราช 2563 โดยมีผู้แทนพระองค์นำมามอบให้ นายสันติ ป่าหวาย อธิบดีกรมพลศึกษา และข้าราชการ และเจ้าหน้าที่ สังกัดกรมพลศึกษา เพื่อเป็นขวัญกำลังใจในการทำงานต่อไป ณ ห้องรับรองกรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา...
                                            </p>
                                        </div>
                                    </article>

                                </div>
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/2.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">กรมพลศึกษาจัดอบรมการช่วยชีวิตขั้นพื้นฐาน</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/3.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประชุมเตรียมความพร้อมจัดกิจกรรม ฟุตบอลการกุศล “รวมใจคนกีฬาสู่ชาวอูฮั่น”</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/4.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประชุมผู้บริหาร เพื่อขับเคลื่อนการดำเนินงาน ตามนโยบาย รัฐมนตรีว่าการกระทรวงการท่องเที่ยวและกีฬา ประจำปี พ.ศ. 2563 ครั้งที่ 3/2563</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/5.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ให้การต้อนรับ คณะกรรมาธิการกีฬา สภาผู้แทนราษฎร ที่เดินทางมาร่วมประชุมรับฟังนโยบายและแผนการดำเนินงานด้านกีฬารวมถึงแนวทางการพัฒนาการกีฬาของไทย</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="~/MiddleFile/News/6.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">การประชุม"รวมน้ำใจคนกีฬา สู่พี่น้องชาวจีน"</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-News1" role="tabpanel" aria-labelledby="nav-News1-tab">
                            <div class="row clearfix">
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="ipost clearfix">
                                        <div class="entry-image mb-3">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/1/1.jpg" alt="Image 3"></a>
                                            <div class="entry-categories"><a href="#" class="bg-dpegreen">ข่าวด้านกีฬา</a></div>
                                        </div>
                                        <div class="entry-title">
                                            <h3><a href="#">ประกาศรายชื่อทีมที่เข้าร่วมการแข่งขันกีฬาฟุตบอล กีฬาระหว่างโรงเรียน ประจำปีการศึกษา 2562 (ประเภททั่วไป)</a></h3>
                                        </div>
                                        <ul class="entry-meta clearfix">
                                            <li><span>by</span> <a href="#">webmaster</a></li>
                                            <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                        </ul>
                                        <div class="entry-content clearfix">
                                            <p>
                                                ประกาศรายชื่อทีมที่เข้าร่วมการแข่งขันกีฬาฟุตบอล กีฬาระหว่างโรงเรียน ประจำปีการศึกษา 2562 (ประเภททั่วไป)

                                                รุ่นอายุไม่เกิน 12 ปี, 14 ปี, 16 ปี และ 18 ปี

                                                ** โรงเรียนใดยังไม่ส่งเอกสารกรุณาส่งภายในวันที่ 8 ตุลาคม 2562 ...
                                            </p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/1/2.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่องการแข่งขันกีฬาบาสเกตบอล กีฬาระหว่างโรงเรียน ประจำปีการศึกษา 2562</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/1/3.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">++อัพเดท++ ประกาศรายชื่อโรงเรียน นักกีฬา ที่เข้าร่วมการแข่งขันกีฬาเทควันโด กีฬาระหว่างโรงเรียน ประจำปีการศึกษา 2562 (ตามประเภทการแข่งขัน)</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/1/4.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประกาศรายชื่อนักกีฬาที่เข้าร่วมการแข่งขันกีฬาเทเบิลเทนนิส กีฬาระหว่างโรงเรียน ประจำปีการศึกษา 2562</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/1/5.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เรื่อง การแข่งขันกีฬาฟุตบอลประเภททั่วไป กีฬาระหว่างโรงเรียน ประจำปีการศึกษา 2562</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-News2" role="tabpanel" aria-labelledby="nav-News2-tab">
                            <div class="row clearfix">
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="ipost clearfix">
                                        <div class="entry-image mb-3">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/2/1.jpg" alt="Image 3"></a>
                                            <div class="entry-categories "><a href="#" class="bg-dpegreen">ข่าวด้านนันทนาการ</a></div>
                                        </div>
                                        <div class="entry-title">
                                            <h3><a href="#">ประกาศผลรางวัล การประกวด "ต้นแบบบริหารกายหน้าเสาธง" ประจำปี ๒๕๖๓</a></h3>
                                        </div>
                                        <ul class="entry-meta clearfix">
                                            <li><span>by</span> <a href="#">webmaster</a></li>
                                            <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                        </ul>
                                        <div class="entry-content font-secondary clearfix">
                                            <p>
                                                การประกวด "ต้นแบบบริหารกายหน้าเสาธง" ประจำปี ๒๕๖๓

                                                ระหว่างวันที่ ๓๑ มกราคม - ๒ กุมภาพันธ์ พ.ศ. ๒๕๖๓

                                                ณ โรงแรม เดอะ ทวิน ทาวเวอร์ และลานอเนกประสงค์หน้าอาคารนิมิบุตร เขตปทุมวัน กรุงเทพฯ #บริหารกายหน้าเสาธง63 #กรมพลศึกษา

                                                #ขอแสดงความยินดี #ขอเป็นกำลังใจให้ทุกทีมที่ผ่านเข้าสู่30ทีมสุดท้าย #ปีหน้าเจอกันใหม่
                                            </p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/2/2.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">สื่อองค์ความรู้ด้านนันทนาการ</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/2/3.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประกาศกรมพลศึกษา เข้าร่วมกิจกรรมอบรมสร้างความตระหนักรู้ในการจัดกิจกรรมนันทนาการในสถานศึกษา</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/2/4.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600">
                                                    <a href="#">
                                                        กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬาร่วมกับสหพันธ์กีฬาเชียร์ลีดดิ้งประจำประเทศไทย และสมาคมเชียร์ลีดดิ้งแห่งประเทศไทย
                                                        8 ก.ค. 2562618
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/2/5.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประกาศรับสมัคร ประกวดดนตรีพื้นบ้านวงโปงลาง ประจำปี 2562</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-News3" role="tabpanel" aria-labelledby="nav-News3-tab">
                            <div class="row clearfix">
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="ipost clearfix">
                                        <div class="entry-image mb-3">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/3/2.jpg" alt="Image 3"></a>
                                            <div class="entry-categories "><a href="#" class="bg-dpegreen">ข่าวด้านวิทยาศาสตร์การกีฬา</a></div>
                                        </div>
                                        <div class="entry-title">
                                            <h3><a href="#">กรมพลศึกษาจัดอบรมพัฒนาสมรรถภาพทางกายในสถานศึกษา</a></h3>
                                        </div>
                                        <ul class="entry-meta clearfix">
                                            <li><span>by</span> <a href="#">webmaster</a></li>
                                            <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                        </ul>
                                        <div class="entry-content font-secondary clearfix">
                                            <p>  ดร.วนิดา พันธ์สอาด ผู้อำนวยการสำนักวิทยาศาสตร์การกีฬา เป็นประธานพิธีปิดการอบรมเชิงปฏิบัติการด้านวิทยาศาสตร์การกีฬาเพื่อพัฒนาสมรรถภาพทางกายในสถานศึกษา พร้อมมอบวุฒิบัตรให้กับผู้เข้าอบรม โดยมี นางสาวเนาวรัตน์ เหลืองรัตนเจริญ ผู้อำนวยการกลุ่มพัฒนาเทคโนโลยีทางการกีฬา และผู้ช่วยศาสตราจารย์ เพิ่มศักดิ์ สุริยจันทร์ วิทยากรและที่ปรึกษาการดำเนินการจัดทำเกณฑ์มาตรฐานสมรรถภาพทางกายเยาวชนและประชาชนไทยของกรมพลศึกษา...</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/3/1.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">รับสมัครผู้เข้าร่วมกิจกรรมการประกวด "ออกกำลังกายถวายแม่ของแผ่นดิน" ประจำปี 2561</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/3/3.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">เปิดอบรมพัฒนาสมรรถภาพทางกาย ในสถานศึกษา</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/3/4.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ปิดการอบรม เรื่อง “การควบคุมน้ำหนักและการออกกำลังกายเพื่อพัฒนาสมรรถภาพทางกาย”</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/3/5.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">กรมพลศึกษาเปิดรับสมัครทีมโรงเรียนเข้าร่วม การประกวด “บริหารกายหน้าเสาธง” ประจำปี 2563</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-News4" role="tabpanel" aria-labelledby="nav-News4-tab">
                            <div class="row clearfix">
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="ipost clearfix">
                                        <div class="entry-image mb-3">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/4/2.jpg" alt="Image 3"></a>
                                            <div class="entry-categories "><a href="#" class="bg-dpegreen">ข่าวด้านพัฒนาบุคลากร</a></div>
                                        </div>
                                        <div class="entry-title">
                                            <h3><a href="#">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา ร่วมกับ สมาคมกีฬายิมนาสติกแห่งประเทศไทย จัดฝึกอบรมหลักสูตรมาตรฐานผู้ฝึกสอนกีฬายิมนาสติกศิลป์หญิง ระดับพื้นฐาน</a></h3>
                                        </div>
                                        <ul class="entry-meta clearfix">
                                            <li><span>by</span> <a href="#">webmaster</a></li>
                                            <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                        </ul>
                                        <div class="entry-content font-secondary clearfix">
                                            <p>กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา ร่วมกับ สมาคมกีฬายิมนาสติกแห่งประเทศไทย จัดฝึกอบรมหลักสูตรมาตรฐานผู้ฝึกสอนกีฬายิมนาสติกศิลป์หญิง ระดับพื้นฐาน ระหว่างวันที่ 10 - 12 สิงหาคม 2561 ณ การกีฬาแห่งประเทศไทย กรุงเทพฯ โดยได้รับเกียรติจาก ดร.กุสุมาลย์ ประเสริฐศรี อุปนายกสมาคมกีฬายิมนาสติกแห่งประเทศไทย เป็นประธาน และวิทยากรในครั้งนี้ ซึ่งมีผู้เข้าร่วมอบรม จำนวน 25 คน...</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/4/1.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">กรมพลศึกษา ร่วมกับ สมาคมกีฬามวยปล้ำแห่งประเทศไทย จัดโครงการฝึกอบรมหลักสูตรผู้ฝึกสอนกีฬามวยปล้ำ ระดับพื้นฐาน (ระดับ3)</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/4/3.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา ร่วมกับ สมาคมกีฬาเรือพายแห่งประเทศไทยจัดการอบรมผู้ตัดสินโครงการฝึกอบรมผู้ตัดสินเรือยาวมังกร ระดับพื้นฐาน</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/4/4.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">กรมพลศึกษา ร่วมกับ สมาคมกีฬาวอลเลย์บอลแห่งประเทศไทย​​ จัดโครงการอบรมผู้ตัดสินกีฬาวอลเลย์บอลชายหาด ขั้นต้น​ Level 1</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/4/5.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา ร่วมกับ สมาคมกีฬากอล์ฟแห่งประเทศไทย จัดโครงการฝึกอบรมผู้ตัดสินกีฬากอล์ฟ ระดับพื้นฐาน</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-News5" role="tabpanel" aria-labelledby="nav-News5-tab">
                            <div class="row clearfix">
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="ipost clearfix">
                                        <div class="entry-image mb-3">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/5/1.jpg" alt="Image 3"></a>
                                            <div class="entry-categories "><a href="#" class="bg-home">ข่าวด้านผู้บริหาร</a></div>
                                        </div>
                                        <div class="entry-title">
                                            <h3><a href="#">ประชุมคณะทำงานปรับโครงสร้างการแบ่งส่วนราชการและกำหนดกรอบอัตรากำลังของกรมพลศึกษา ครั้งที่ 1/2563</a></h3>
                                        </div>
                                        <ul class="entry-meta clearfix">
                                            <li><span>by</span> <a href="#">webmaster</a></li>
                                            <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                        </ul>
                                        <div class="entry-content font-secondary clearfix">
                                            <p>นายสันติ ป่าหวาย อธิบดีกรมพลศึกษา เป็นประธานในการประชุมคณะทำงานปรับโครงสร้างการแบ่งส่วนราชการและกำหนดกรอบอัตรากำลังของกรมพลศึกษา ครั้งที่ 1/2563  ซึ่งมีวาระสำคัญอยู่ที่เรื่องเสนอให้ที่ประชุมพิจารณา ข้อเสนอการปรับปรุงโครงสร้างการแบ่งส่วนราชการภายในของกรมพลศึกษา(ใหม่),ข้อเสนอการจัดตั้งศูนย์พัฒนาบุคลากรการพลศึกษาและวิทยาศาสตร์การกีฬาเขตพื้นที่ 1-10 และข้อเสนอการจัดตั้งกองวิชาการและแผนงาน ขึ้นตรงอธิบดีกรมพลศึกษา</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/5/2.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">คณะผู้บริหาร ข้าราชการ และ เจ้าหน้าที่กรมพลศึกษา จำนวน 290 คน เข้ารับการตรวจหาเชื้อไวรัสโคโรนา 2019 (COVID-19) และฉีดวัคซีนป้องกันไข้หวัดใหญ่ 4 สายพันธุ์ โดย โรงพยาบาลเกษมราษฎร์ รัตนาธิเบศร์</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/5/3.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#"><div class="txt-nm txt-hl-search">ประชุม แผนการดำเนินงาน กรมพลศึกษา ประจำปีงบประมาณ 2563 ครั้งที่ 2/2563</div></a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/5/4.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">บันทึกเทปรายการคิดเพื่อชาติในตอน " สุขกายสุขใจ ในวิกฤต Covid 19 "</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- Post Article -->
                                    <article class="spost clearfix">
                                        <div class="entry-image">
                                            <a href="#"><img src="../../../assets/MiddleFile/News/5/5.jpg" alt=""></a>
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4 class="t600"><a href="#">ประชุมเจ้าหน้าที่พลศึกษาทางไกลผ่านระบบสารสนเทศ เพื่อชี้แจงเรื่องวิธีการเก็บข้อมูลตัวชี้วัดของกรมพลศึกษา ตัวชี้วัดที่ 1 ร้อยละของประชาชนที่ออกกำลังกายหรือเล่นกีฬาอย่างสม่ำเสมอ ประจำปีงบประมาณ พ.ศ. 2563</a></h4>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li><span>by</span> <a href="#">webmaster</a></li>
                                                <li><i class="icon-time"></i><a href="#">11 Feb 2020</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                    </div><!-- Tab End -->
                    <a href="#"
                       class="button button-dark button-rounded ls1 uppercase load-next-portfolio" style="background: #226b50;">
                        แสดงทั้งหมด
                    </a>
                </div>
            </div>
            <div class="col-lg-4 sticky-sidebar-wrap">
                <div class="sticky-sidebar">
                    <div class="widget widget_links clearfix mt-2">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="center mb-1">หมวดหมู่ ยอดนิยม</h3>
                                <div class="line line-xs line-dark"></div>
                                <ul>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">สรุปข่าวประจำวัน<span class="badge bg-dpegreen">753</span></a></li>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">ข่าวสารองค์กร<span class="badge bg-dpegreen">798</span></a></li>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">ข่าวด้านกีฬา<span class="badge bg-dpegreen">832</span></a></li>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">ข่าวด้านนันทนาการ<span class="badge bg-dpegreen">863</span></a></li>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">ข่าวด้านวิทยาศาสตร์การกีฬา<span class="badge bg-dpegreen">899</span></a></li>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">ข่าวด้านพัฒนาบุคลากร<span class="badge bg-dpegreen">954</span></a></li>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">ข่าวรับสมัคร-โอนย้ายงาน<span class="badge bg-dpegreen">988</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="widget clearfix mt-2">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="center mb-1" style="color:red">Live Streaming</h3>
                                <div class="line line-xs line-dark"></div>
                                <iframe width="560" height="350" src="https://www.youtube.com/embed/QES2qTX4Lmo" allowfullscreen style="border: 0;"></iframe>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>