<!-- Footer
============================================= -->
<footer id="footer" class="dark" style="background: url('../../../assets/MiddleFile/Background/01.jpg')center bottom; background-size: cover;background-attachment: fixed;padding:0px 0;">
    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap row clearfix">

            <div class="col-lg-3 col-sm-6 col-md-3 mb-3">
                <!-- Footer Widget 1
                ============================================= -->
                <div class="widget clearfix">
                    <h4 class="mb-3 mb-sm-4">ติดต่อเรา</h4>
                    <div style="background: url('../../../assets/images/world-map.png') no-repeat center center; background-size: 100%;">
                        <address>
                            เลขที่ 154 ถนนพระราม 1 แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330
                        </address>
                        <abbr title="โทรศัพท์"><strong>โทรศัพท์ :</strong></abbr> 0-2214-0120<br>
                        <abbr title="โทรสาร "><strong>โทรสาร :</strong></abbr> 0-2216-4408<br>
                        <abbr title="อีเมล "><strong>อีเมล :</strong></abbr> webmaster@dpe.go.th
                    </div>
                </div>
            </div>


            <!-- Footer Widget 2
            ============================================= -->
            <div class="col-lg-3 col-sm-6 col-md-3 mb-3">
                <div class="widget widget_links clearfix">
                    <h4 class="mb-3 mb-sm-4">หมวดหมู่ ยอดนิยม</h4>
                    <ul>
                        <li><a href="#">สรุปข่าวประจำวัน : 987</a></li>
                        <li><a href="#">ข่าวสารองค์กร : 65</a></li>
                        <li><a href="#">ข่าวด้านกีฬา : 566</a></li>
                        <li><a href="#">ข่าวด้านนันทนาการ : 842</a></li>
                        <li><a href="#">ข่าวด้านพัฒนาบุคลากร : 689</a></li>
                        <li><a href="#">ข่าวด้านวิทยาศาสตร์การกีฬา : 459</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Widget 3
            ============================================= -->
            <div class="col-lg-3 col-sm-6 col-md-3 mb-3">
                <div class="widget widget_links clearfix">
                    <h4 class="mb-3 mb-sm-4">จำนวนผู้เยี่ยมชม</h4>
                    <ul>
                        <li><a href="#">ทั้งหมด : 6000</a></li>
                        <li><a href="#">เดือนนี้ : 300</a></li>
                        <li><a href="#">วันนี้ : 10</a></li>
                        <li><a href="#">เมื่อวาน : 100</a></li>
                        <li><a href="#">เดือนที่แล้ว : 1000</a></li>
                    </ul>
                </div>

            </div>
            <!-- Footer Widget 5
            ============================================= -->
            <div class="col-lg-3 col-sm-6 col-md-3 mb-3">
                <div class="widget widget_links clearfix">
                    <h4 class="mb-3 mb-sm-4">แผนที่</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.5360781708873!2d100.52371711483043!3d13.746513890350856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2993281a96fa7%3A0x40ef01d4b0a30812!2z4LiB4Lij4Lih4Lie4Lil4Lio4Li24LiB4Lip4LiyIOC4geC4o-C4sOC4l-C4o-C4p-C4h-C4geC4suC4o-C4l-C5iOC4reC4h-C5gOC4l-C4teC5iOC4ouC4p-C5geC4peC4sOC4geC4teC4rOC4sg!5e0!3m2!1sth!2sth!4v1582092642893!5m2!1sth!2sth"
                            frameborder="0" style="border:0;min-height:200px;width:100%" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="">

        <div class="container clearfix">

            <div class="row justify-content-center">
                <div class="col-md-6 align-self-center">
                    Copyrights &copy; 2020 All Rights Reserved by MarsInnovation.<br>
                    <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="copyrights-menu fright copyright-links m-0 clearfix">
                        <a href="#">หน้าหลัก</a>/<a href="#"> เกี่ยวกับองค์กร</a>/<a href="#">กฏหมาย/ระเบียบ</a>/<a href="#">ข่าวองค์กร</a>/<a href="#">เอกสารเผยแพร่</a>/<a href="#"> งานบริการ</a>/<a href="#"> คำถามที่พบบ่อย</a>/<a href="#"> ติดต่อองค์กร</a>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->