<!-- Slider-->
<app-content-one></app-content-one>
<!--#Slider-->
<!-- Content
		============================================= -->
<section id="content">
    <div class="content-wrap">
        <section id="content" style="background: url('../../assets/555.jpg') center bottom; background-size: cover;background-attachment: fixed;">
            <div class="content-wrap pt-0">
                <app-content-two></app-content-two>
                <app-content-three></app-content-three>
            </div>
        </section>
    </div>
</section>
<!-- #content end -->