<section id="slider" class="slider-element revslider-wrap clearfix">
    <div id="rev_slider_420_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="clean-news-slider" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <div id="rev_slider_420_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.0">
            <ul>
                <li data-index="rs-1450" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/MiddleFile/News/li1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../../assets/MiddleFile/News/li2.jpg" alt="" data-lazyload="../../assets/MiddleFile/News/1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                </li>
                <li data-index="rs-1451" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/MiddleFile/News/li2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../../assets/MiddleFile/News/li2.jpg" alt="" data-lazyload="../../assets/MiddleFile/News/li2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         id="slide-1451-layer-1"
                         data-x="['right','right','right','right']" data-hoffset="['30','30','30','20']"
                         data-y="['top','top','top','top']" data-voffset="['30','30','30','20']"
                         data-width="['430','430','350','250']"
                         data-height="['540','540','540','410']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1400;e:Power4.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="500"
                         data-responsive_offset="on"
                         style="z-index: 5;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);"> </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption PostSlider-Category   tp-resizeme"
                         id="slide-1451-layer-3"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['60','60','60','40']"
                         data-fontsize="['15','15','13','13']"
                         data-lineheight="['15','15','13','13']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 370px; max-width: 370px; white-space: nowrap;">NEWS </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption PostSlider-Title   tp-resizeme"
                         id="slide-1451-layer-2"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['102','102','92','68']"
                         data-fontsize="['40','40','30','20']"
                         data-lineheight="['40','40','30','20']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; min-width: 370px; max-width: 370px; white-space: normal;">ข่าวองค์กร </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption PostSlider-Content   tp-resizeme"
                         id="slide-1451-layer-4"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['265','265','215','154']"
                         data-fontsize="['15','15','14','13']"
                         data-lineheight="['23','23','21','20']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="800"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; min-width: 370px; max-width: 370px; white-space: normal;">บันทึกเทปรายการคิดเพื่อชาติในตอน " สุขกายสุขใจ ในวิกฤต Covid 19 "</div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption PostSlider-Button rev-btn  tp-resizeme"
                         id="slide-1451-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['770','593','428','230']"
                         data-y="['top','top','top','top']" data-voffset="['496','496','496','366']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(238, 238, 238, 1.00);"
                         data-transform_in="y:10px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="y:10px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-start="900"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 9; white-space: nowrap;padding:1px 55px 1px 23px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-line-fast-forward" style="font-size:25px; float:left; margin-top:1px;margin-right:10px;"></i> อ่านต่อ.. </div>
                </li>
                <li data-index="rs-1452" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/MiddleFile/News/li3.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../../assets/MiddleFile/include/rs-plugin/demos/assets/MiddleFile/images/dummy.png" alt="" data-lazyload="../../assets/MiddleFile/News/li3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         id="slide-1452-layer-1"
                         data-x="['right','right','right','right']" data-hoffset="['30','30','30','20']"
                         data-y="['top','top','top','top']" data-voffset="['30','30','30','20']"
                         data-width="['430','430','350','250']"
                         data-height="['540','540','540','410']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1400;e:Power4.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="500"
                         data-responsive_offset="on"
                         style="z-index: 5;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);"> </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption PostSlider-Category   tp-resizeme"
                         id="slide-1452-layer-3"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['60','60','60','40']"
                         data-fontsize="['15','15','13','13']"
                         data-lineheight="['15','15','13','13']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 370px; max-width: 370px; white-space: nowrap;">NEWS </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption PostSlider-Title   tp-resizeme"
                         id="slide-1452-layer-2"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['102','102','92','68']"
                         data-fontsize="['40','40','30','20']"
                         data-lineheight="['40','40','30','20']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; min-width: 370px; max-width: 370px; white-space: normal;">ข่าวองค์กร </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption PostSlider-Content   tp-resizeme"
                         id="slide-1452-layer-4"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['265','265','215','154']"
                         data-fontsize="['15','15','14','13']"
                         data-lineheight="['23','23','21','20']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="800"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; min-width: 370px; max-width: 370px; white-space: normal;">
                        ร่วมส่งต่อ “ธารน้ำใจจากท่านไปสู่เด็ก ๆ” โดยนำสิ่งของอุปโภคบริโภค ที่ขาดแคลนในช่วงสถานการณ์การแพร่ระบาดโรคติดเชื้อไวรัสโควิด -19 ณ สถานสงเคราะห์เด็กอ่อนรังสิต อำเภอธัญบุรี จังหวัดปทุมธานี
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption PostSlider-Button rev-btn  tp-resizeme"
                         id="slide-1452-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['770','593','428','230']"
                         data-y="['top','top','top','top']" data-voffset="['496','496','496','366']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(238, 238, 238, 1.00);"
                         data-transform_in="y:10px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="y:10px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-start="900"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 9; white-space: nowrap;padding:1px 55px 1px 23px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-line-fast-forward" style="font-size:25px; float:left; margin-top:1px;margin-right:10px;"></i> อ่านต่อ.. </div>
                </li>
                <li data-index="rs-1453" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/MiddleFile/News/li4.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../../assets/MiddleFile/include/rs-plugin/demos/assets/MiddleFile/images/dummy.png" alt="" data-lazyload="../../assets/MiddleFile/News/li4.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                         id="slide-1453-layer-1"
                         data-x="['right','right','right','right']" data-hoffset="['30','30','30','20']"
                         data-y="['top','top','top','top']" data-voffset="['30','30','30','20']"
                         data-width="['430','430','350','250']"
                         data-height="['540','540','540','410']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1400;e:Power4.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="500"
                         data-responsive_offset="on"
                         style="z-index: 5;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);"> </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption PostSlider-Category   tp-resizeme"
                         id="slide-1453-layer-3"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['60','60','60','40']"
                         data-fontsize="['15','15','13','13']"
                         data-lineheight="['15','15','13','13']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 370px; max-width: 370px; white-space: nowrap;">NEWS </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption PostSlider-Title   tp-resizeme"
                         id="slide-1453-layer-2"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['102','102','92','68']"
                         data-fontsize="['40','40','30','20']"
                         data-lineheight="['40','40','30','20']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; min-width: 370px; max-width: 370px; white-space: normal;">ข่าวองค์กร </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption PostSlider-Content   tp-resizeme"
                         id="slide-1453-layer-4"
                         data-x="['right','right','right','right']" data-hoffset="['60','60','60','40']"
                         data-y="['top','top','top','top']" data-voffset="['265','265','215','154']"
                         data-fontsize="['15','15','14','13']"
                         data-lineheight="['23','23','21','20']"
                         data-width="['370','370','290','210']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:20px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-start="800"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; min-width: 370px; max-width: 370px; white-space: normal;">สำรวจความพร้อมของอาคารสถาบันวิทยาศาสตร์การกีฬา กรมพลศึกษา ก่อนเปิดให้ประชาชนและสมาชิก เข้ามาใช้บริการในส่วนของห้องฟิตเนสและคลินิกการกีฬา หลังมีการประกาศผ่อนปรนเฉพาะกิจการและกิจกรรมที่มีความเสี่ยงระดับกลาง </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption PostSlider-Button rev-btn  tp-resizeme"
                         id="slide-1453-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['770','593','428','230']"
                         data-y="['top','top','top','top']" data-voffset="['496','496','496','366']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(238, 238, 238, 1.00);"
                         data-transform_in="y:10px;opacity:0;s:500;e:Power3.easeOut;"
                         data-transform_out="y:10px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-start="900"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 9; white-space: nowrap;padding:1px 55px 1px 23px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-line-fast-forward" style="font-size:25px; float:left; margin-top:1px;margin-right:10px;"></i> อ่านต่อ.. </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(255, 255, 255, 0.75);"></div>
        </div>
    </div>
</section>
